<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Add camera</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
<body>
<div class="container">
    <h1>Add Camera</h1>
    <br/>
    <form action="#" th:action="@{/web/camera/add}" th:object="${camera}"
          method="post">

        <div class="form-group">
            <label for="camera-name">Camera:</label>
            <input type="text" class="form-control" th:field="*{name}" id="camera-name" placeholder="Enter camera name" name="camera-name">
        </div>

        <div class="form-group">
            <label for="camera-location">Location address:</label>
                 <select class="form-control " th:field="*{locationId}" id="camera-location">
                <option value= "">Select camera install location</option>
                <option th:each="location : ${locations}"
                        th:value="${location.id}"
                        th:selected="${location.address eq lastselected}"
                        th:text="${location.address}">
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>

