<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tracker App Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>VEHICLE TRACKING SYSTEM</h1>
        <h2>Welcome!</h2>
        <p>Please login to continue.</p>
    </div>

    <h2>Login form</h2>
    <form th:action="@{/web/home}" th:object="${login}" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text"  th:name="username" class="form-control" id="username" placeholder="Enter username" name="usn">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password"  th:name="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
</body>
</html>