<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>

</body>
</html>

<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Movement Success</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--<link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>-->
</head>
<body>

<div class="container">
    <h3>Saved Vehicle Movement Details</h3>
    <div class="mt-5">Vehicle: <strong th:text="${movement.vehicleRegNumber}"></strong></div>
    <div class="mt-5">Location: <strong th:text="${movement.locationAddress}"></strong></div>
    <div class="mt-5">Camera: <strong th:text="${movement.cameraName}"></strong></div>
    <div class="mt-5">Camera: <strong th:text="${movement.movementCapturedDateTime}"></strong></div>

    <div class="form-group">
        <form style="display: none" th:action="@{/web/home}" method="post">
            <label style="text-decoration: underline" for="button_to_link">Back to Home Page</label>
            <button type="submit" id="button_to_link">Back to Home Page</button>
        </form>


    </div>


    <a th:href="@{/web/home}" class="btn btn-primary mt-5">Back to Home Page</a>
</div>

</body>
</html>