<!--<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Add Vehicle</title>
</head>
<body>

<div align="center">
    <h1>Add Vehicle</h1>
    <br />
    <form action="#" th:action="@{/web/vehicle/add}" th:object="${vehicle}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Vehicle Name:</td>
                <td><input type="text" th:field="*{name}" /></td>
            </tr>

            <tr>
                <td> Vehicle Number:</td>
                <td><input type="text" th:field="*{registeredNumber}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>-->


<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Add Vehicle<</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Add Vehicle<</h1>
    <br/>
    <form action="#" th:action="@{/web/vehicle/add}" th:object="${vehicle}" method="post">

        <div class="form-group">
            <label for="vehicle-name">Name/Model:</label>
            <input type="text" class="form-control" th:field="*{name}" id="vehicle-name" placeholder="Enter vehicle name" name="vehicle-name">
        </div>

        <div class="form-group">
            <label for="vehicle-reg-no">Registered number:</label>
            <input type="text" class="form-control" th:field="*{registeredNumber}" id="vehicle-reg-no" placeholder="Enter registration number" name="vehicle-reg-no">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>

